<div class="container">
  <div class="box is-centered mt-4" *ngrxLet="count$; let count">
    <p class="block is-size-1 has-text-centered" [ngClass]="{'has-text-danger': count < 0}">
      {{ count }}
    </p>
    <div class="buttons has-addons is-centered">
      <button class="button is-primary is-outlined"
              (click)="increment()">
        increment
      </button>
      <button class="button is-primary is-outlined"
              (click)="decrement()">
        decrement
      </button>
      <button class="button is-danger is-outlined"
              (click)="reset()">
        reset
      </button>
    </div>
  </div>
</div>
